@use '../utilities' as *
    
$-base-font-size: 15px
$-base-font-family: $family-sans-serif
$-base-color: $black
    
$-body-background-color: $white
$-body-font-weight: $weight-normal
$-body-line-height: 1.5
$-body-padding-y: 3rem
$-body-padding-x: 1.5rem

html
    color: $-base-color
    font-family: $-base-font-family
    font-size: $-base-font-size
    overflow-x: hidden
    overflow-y: scroll

body
    background-color: $-body-background-color
    display: flex
    font-weight: $-body-font-weight
    line-height: $-body-line-height
    min-height: 100vh
    padding: $-body-padding-y $-body-padding-x

button,
textarea
    font-size: 1em
